{% extends 'base.html' %}
{% block content %}
{% load static %}
  <!--   Services start-->
  <div class="services-section pt_50 pb_20 text-center">
    <div class="container">
        <div class="row">

            <!--Services item-->
            <div class="col-lg-2-5-tt col-md-4 col-sm-6 col-12">
                <div class="item mb_30">
                    <div class="icon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        Wide supply of private campervans, motorhomes and caravans
                    </div>
                </div>
            </div>

            <!--Services item-->
            <div class="col-lg-2-5-tt col-md-4 col-sm-6 col-12">
                <div class="item mb_30">
                    <div class="icon">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        Properly insured campervans
                    </div>
                </div>
            </div>

            <!--Services item-->
            <div class="col-lg-2-5-tt col-md-4 col-sm-6 col-12">
                <div class="item mb_30">
                    <div class="icon">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        24/7 support
                    </div>
                </div>
            </div>

            <!--Services item-->
            <div class="col-lg-2-5-tt col-md-4 col-sm-6 col-12">
                <div class="item mb_30">
                    <div class="icon">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        Hire a campervan anywhere in Europe or Australia
                    </div>
                </div>
            </div>

            <!--Services item-->
            <div class="col-lg-2-5-tt col-md-4 col-sm-6 col-12">
                <div class="item mb_30">
                    <div class="icon">
                        <i class="fa fa-gbp" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        Vehicles for any budget
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Services start-->






<!--EASY AND SAFE-->
<div class="services-section bgwhite pt_80 pb_80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="headline pb_20">
                    <h1>{{exp.title}}</h1>
                </div>
                <div class="text">
                    {{exp.overview|safe}}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="image-tt pb_50">
                    <img src="{{exp.image.url}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>




<!--vehicles-area start-->
<div class="vehicles-area pt_80 pb_80 bgf6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="headline pb_20 text-center">
                    <p class="heading">Rental Vehicles</p>
                    <h1>Have a look at our supply of rental vehicles</h1>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12 pt_30">
                <div class="vehicles-item">
                    <div class="photo-list owl-carousel">
                        <img src="img/car-7.jpeg" alt="">
                        <img src="img/car-8.jpeg" alt="">
                        <img src="img/car-9.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text">
                                <div class="list">
                                    <ul>
                                        <li class="font-bold tt-product-head">Camper van Peter en Jo... <span class="right">
                                                <div class="review">
                                                    <ul>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </span>
                                        </li>
                                        <li class="li-middle">from €100 per night <span class="right">(3)</span></li>
                                        <li>
                                            <div class="review r-bottom">
                                                <ul>
                                                    <li><img src="https://d2g4biwrjrcyy4.cloudfront.net/img-resized/camptoo/icons/seats.svg" alt="">6</li>
                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 4</li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zamslag</li>
                                                </ul>
                                            </div> <span class="right save"><i class="fa fa-heart" aria-hidden="true"></i> Save</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--bottom box link here-->
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 pt_30">
                <div class="vehicles-item">
                    <div class="photo-list owl-carousel">
                        <img src="img/car-4.jpeg" alt="">
                        <img src="img/car-5.jpeg" alt="">
                        <img src="img/car-6.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text">
                                <div class="list">
                                    <ul>
                                        <li class="font-bold tt-product-head">Camper van Peter en Jo... <span class="right">
                                                <div class="review">
                                                    <ul>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </span>
                                        </li>
                                        <li class="li-middle">from €100 per night <span class="right">(3)</span></li>
                                        <li>
                                            <div class="review r-bottom">
                                                <ul>
                                                    <li><img src="https://d2g4biwrjrcyy4.cloudfront.net/img-resized/camptoo/icons/seats.svg" alt="">6</li>
                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 4</li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zamslag</li>
                                                </ul>
                                            </div> <span class="right save"><i class="fa fa-heart" aria-hidden="true"></i> Save</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--bottom box link here-->
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pt_30">
                <div class="vehicles-item">
                    <div class="photo-list owl-carousel">
                        <img src="img/car-1.jpeg" alt="">
                        <img src="img/car-2.jpeg" alt="">
                        <img src="img/car-3.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text">
                                <div class="list">
                                    <ul>
                                        <li class="font-bold tt-product-head">Camper van Peter en Jo... <span class="right">
                                                <div class="review">
                                                    <ul>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </span>
                                        </li>
                                        <li class="li-middle">from €100 per night <span class="right">(3)</span></li>
                                        <li>
                                            <div class="review r-bottom">
                                                <ul>
                                                    <li><img src="https://d2g4biwrjrcyy4.cloudfront.net/img-resized/camptoo/icons/seats.svg" alt="">6</li>
                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 4</li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zamslag</li>
                                                </ul>
                                            </div> <span class="right save"><i class="fa fa-heart" aria-hidden="true"></i> Save</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--bottom box link here-->
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pt_30">
                <div class="vehicles-item">
                    <div class="photo-list owl-carousel">
                        <img src="img/car-1.jpeg" alt="">
                        <img src="img/car-2.jpeg" alt="">
                        <img src="img/car-3.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text">
                                <div class="list">
                                    <ul>
                                        <li class="font-bold tt-product-head">Camper van Peter en Jo... <span class="right">
                                                <div class="review">
                                                    <ul>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </span>
                                        </li>
                                        <li class="li-middle">from €100 per night <span class="right">(3)</span></li>
                                        <li>
                                            <div class="review r-bottom">
                                                <ul>
                                                    <li><img src="https://d2g4biwrjrcyy4.cloudfront.net/img-resized/camptoo/icons/seats.svg" alt="">6</li>
                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 4</li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zamslag</li>
                                                </ul>
                                            </div> <span class="right save"><i class="fa fa-heart" aria-hidden="true"></i> Save</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--bottom box link here-->
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 pt_30">
                <div class="vehicles-item">
                    <div class="photo-list owl-carousel">
                        <img src="img/car-4.jpeg" alt="">
                        <img src="img/car-5.jpeg" alt="">
                        <img src="img/car-6.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text">
                                <div class="list">
                                    <ul>
                                        <li class="font-bold tt-product-head">Camper van Peter en Jo... <span class="right">
                                                <div class="review">
                                                    <ul>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </span>
                                        </li>
                                        <li class="li-middle">from €100 per night <span class="right">(3)</span></li>
                                        <li>
                                            <div class="review r-bottom">
                                                <ul>
                                                    <li><img src="https://d2g4biwrjrcyy4.cloudfront.net/img-resized/camptoo/icons/seats.svg" alt="">6</li>
                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 4</li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zamslag</li>
                                                </ul>
                                            </div> <span class="right save"><i class="fa fa-heart" aria-hidden="true"></i> Save</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--bottom box link here-->
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pt_30">
                <div class="vehicles-item">
                    <div class="photo-list owl-carousel">
                        <img src="img/car-1.jpeg" alt="">
                        <img src="img/car-2.jpeg" alt="">
                        <img src="img/car-3.jpeg" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text">
                                <div class="list">
                                    <ul>
                                        <li class="font-bold tt-product-head">Camper van Peter en Jo... <span class="right">
                                                <div class="review">
                                                    <ul>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </span>
                                        </li>
                                        <li class="li-middle">from €100 per night <span class="right">(3)</span></li>
                                        <li>
                                            <div class="review r-bottom">
                                                <ul>
                                                    <li><img src="https://d2g4biwrjrcyy4.cloudfront.net/img-resized/camptoo/icons/seats.svg" alt="">6</li>
                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 4</li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zamslag</li>
                                                </ul>
                                            </div> <span class="right save"><i class="fa fa-heart" aria-hidden="true"></i> Save</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--bottom box link here-->
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 mt_50 text-center">
                <span class="quote-text"><a class="btn btn-primary quote-btn" href="supply.html" role="button">Check out our whole supply</a></span>
            </div>
        </div>
    </div>
</div>






<!--EASY AND SAFE-->
<div class="services-section bgwhite pt_80 pb_30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="image-tt pb_50">
                    <img src="{{exp.image1.url}}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="headline pb_20">
                    <h1> {{exp.title1}}</h1>
                </div>
                <div class="text">
                    {{exp.overview1|safe}}
                </div>
            </div>
        </div>
    </div>
</div>


<!--Testimonial start-->
<div class="testimonial-2-area pt_80 pb_80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="headline pb_40 text-center">
                    <p class="heading">Testimonial</p>
                    <h1>See our client Feedback</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="testimonial-2 owl-carousel">
                    <div class="item">
                        <div class="customer-say">
                            <div class="icon">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere architecto ad laudantium quis dolorum cumque minus laborum qui! Dolorum animi inventore nulla laudantium sed soluta eos fugit qui doloremque omnis.</p>
                            </div>
                        </div>
                        <div class="man-name">
                            <div class="photo">
                                <img src="img/t1.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>Rasel Reja</h5>
                                <span>SEO - ABC Foundation, USA.</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="customer-say">
                            <div class="icon">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere architecto ad laudantium quis dolorum cumque minus laborum qui! Dolorum animi inventore nulla laudantium sed soluta eos fugit qui doloremque omnis.</p>
                            </div>
                        </div>
                        <div class="man-name">
                            <div class="photo">
                                <img src="img/t11.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>Rasel Reja</h5>
                                <span>SEO - ABC Foundation, USA.</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="customer-say">
                            <div class="icon">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere architecto ad laudantium quis dolorum cumque minus laborum qui! Dolorum animi inventore nulla laudantium sed soluta eos fugit qui doloremque omnis.</p>
                            </div>
                        </div>
                        <div class="man-name">
                            <div class="photo">
                                <img src="img/t12.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>Rasel Reja</h5>
                                <span>SEO - ABC Foundation, USA.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Testimonial end-->


<!--EASY AND SAFE-->
<div class="services-section bgwhite pt_80 pb_60">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 pb_30">
                <div class="headline pb_20">
                    <h1>About us</h1>
                </div>
                <div class="text">
                    <p>At Camptoo we love the freedom of travelling with a motorhome. Our goal is to let people share the joy and fun of travelling with a motorhome or caravan at their own pace. Because we think there is no better way to explore our beautiful country. Share your vehicle and hit the road with an amazing Camptoo motorhome!</p>
                    <span class="quote-text"><a class="btn btn-primary quote-btn" href="over-topbi-trip.html" role="button">Meet the Camptoo team</a></span>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row about-team-tt owl-carousel">

                    <!--team member item-->
                    <div class="mb_30 team-item text-center">
                        <div class="photo-in">
                            <div class="photo" style="background-image: url(img/t11.jpg)">
                            </div>
                        </div>
                        <div class="text">
                            <h5>Martijn Peeters</h5>
                            <span class="color-red mb_10">Co-founder, CEO</span>
                            <p class="mt_10">I love being in the outdoors and I do think it’s a waste when those campervan and motorhomes are sitting idle on the driveway for so long. What gets me pushing further is to read these great stories of users that had an amazing road trip experience. </p>
                        </div>
                    </div>


                    <!--team member item-->
                    <div class="mb_30 team-item text-center">
                        <div class="photo-in">
                            <div class="photo" style="background-image: url(img/t12.jpg)">
                            </div>
                        </div>
                        <div class="text">
                            <h5>Roel Sadza</h5>
                            <span class="color-red mb_10">Co-founder, Chief of Growth</span>
                            <p class="mt_10">Ik hou ervan om mooie dingen te bouwen, alles van lego t/m mooie functionele websites. Ik vind het geweldig om iets uit het niets creëren waar mensen echt iets aan hebben. Daarnaast ga ik graag naar festivals en op citytrips. </p>
                        </div>
                    </div>


                    <!--team member item-->
                    <div class="mb_30 team-item text-center">
                        <div class="photo-in">
                            <div class="photo" style="background-image: url(img/t1.jpg)">
                            </div>
                        </div>
                        <div class="text">
                            <h5>Patrick Attia</h5>
                            <span class="color-red">Developer</span>
                            <p class="mt_10">I love coding, development, learning new things and how something you write can be used by so many people and make their lives easier. At Camptoo, I feel I can do that, learn new things and influence the people using the website. </p>
                        </div>
                    </div>

                    <!--team member item-->
                    <div class="mb_30 team-item text-center">
                        <div class="photo-in">
                            <div class="photo" style="background-image: url(img/t1.jpg)">
                            </div>
                        </div>
                        <div class="text">
                            <h5>Martijn Peeters</h5>
                            <span class="color-red mb_10">Co-founder, CEO</span>
                            <p class="mt_10">I love being in the outdoors and I do think it’s a waste when those campervan and motorhomes are sitting idle on the driveway for so long. What gets me pushing further is to read these great stories of users that had an amazing road trip experience. </p>
                        </div>
                    </div>

                    <!--team member item-->
                    <div class="mb_30 team-item text-center">
                        <div class="photo-in">
                            <div class="photo" style="background-image: url(img/t12.jpg)">
                            </div>
                        </div>
                        <div class="text">
                            <h5>Roel Sadza</h5>
                            <span class="color-red mb_10">Co-founder, Chief of Growth</span>
                            <p class="mt_10">Ik hou ervan om mooie dingen te bouwen, alles van lego t/m mooie functionele websites. Ik vind het geweldig om iets uit het niets creëren waar mensen echt iets aan hebben. Daarnaast ga ik graag naar festivals en op citytrips. </p>
                        </div>
                    </div>


                    <!--team member item-->
                    <div class="mb_30 team-item text-center">
                        <div class="photo-in">
                            <div class="photo" style="background-image: url(img/t1.jpg)">
                            </div>
                        </div>
                        <div class="text">
                            <h5>Patrick Attia</h5>
                            <span class="color-red">Developer</span>
                            <p class="mt_10">I love coding, development, learning new things and how something you write can be used by so many people and make their lives easier. At Camptoo, I feel I can do that, learn new things and influence the people using the website. </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}