{% extends 'base.html' %}
{% block content %}
{% load static %}
  <!--vehicles-area start-->
  <div class="vehicles-area pt_80 pb_80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="headline pb_20 text-center">
                    <p class="heading">Rental Vehicles</p>
                    <h1>Have a look at our supply of rental vehicles</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for supply in favourite_post %}
            <div class="col-lg-4 col-md-6 col-sm-12 pt_30">
                <div class="vehicles-item">
                    <div class="photo-list owl-carousel">
                        <img src="{{supply.main_photo.url}}" alt="">
                        <img src="{{supply.image1.url}}" alt="">
                        <img src="{{supply.image2.url}}" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text">
                                <div class="list">
                                    <ul>
                                        <li class="font-bold tt-product-head">{{supply.title}} <span class="right">
                                                <div class="review">
                                                    <ul>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </span>
                                        </li>
                                        <li class="li-middle">from €{{supply.price}} per night <span class="right">(3)</span></li>
                                        <li>
                                            <div class="review r-bottom">
                                                <ul>
                                                    <li><img src="https://d2g4biwrjrcyy4.cloudfront.net/img-resized/camptoo/icons/seats.svg" alt="">{{supply.seats}}</li>
                                                    <li><i class="fa fa-bed" aria-hidden="true"></i> {{supply.bearth}}</li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{supply.city}}</li>
                                                </ul>
                                            </div> 
                                            {% if request.user.is_authenticated %}
                                            {% if is_favourite %}
                                            <a class="right save" href="{% url 'favourite' supply.id %}"><i class="fa fa-heart" ></i> Save</a>
                                            {% else %}
                                            <a class="right save" href="{% url 'favourite' id=supply.id %}"><i class="far fa-heart" ></i>not Save</a>
                                            {% endif %}
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--bottom box link here-->
                            <!-- <a href="#" class="stretched-link"></a> -->
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1>No post have any search query "{{request.GET.q}}" </h1>
            {% endfor %}

           


        </div>
        <div class="row">
            <div class="col-12 mt_50 text-center">
                <span class="quote-text"><a class="btn btn-primary quote-btn" href="contact.html" role="button">View all vehicles</a></span>
            </div>
        </div>
    </div>
</div>

{% endblock %}