  <!--Main Menu start-->
  <div class="menu-section-2">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="main-logo">
                    <a href="index.html"><img src="img/logo1.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="menu nav-menu">
                    <nav>
                        <ul id="nav">
                            <li><a href="supply.html">Supply</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="javascript:void;">Help <span class="caret"></span></a>
                                <ul class="submenu">
                                    <li><a href="for-travellers.html">For travellers</a></li>
                                    <li><a href="for-owners.html">For owners</a></li>
                                    <li><a href="other-questions-and-contact.html">Other questions and contact</a></li>
                                </ul>
                            </li>
                            <li data-toggle="modal" data-target="#exampleModalsignup" data-whatever="@fat"><a href="#">Sign up</a></li>
                            <li data-toggle="modal" data-target="#exampleModalsign" data-whatever="@mdo"><a href="#">Login</a></li>
                            <li class="header-contact-item quote">
                                <span class="quote-text"><a class="btn btn-primary quote-btn" href="contact.html" role="button">List my vehicle</a></span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Main menu end-->